aiohttp
aiosignal
alembic
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
beautifulsoup4
blinker
Brotli
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
contextlib2
crewai
crewai-tools
cryptography
dataclasses-json
decorator
Deprecated
deprecation
distro
docstring-parser
embedchain
fastapi
filelock
Flask
Flask-Cors
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-auth==2.29.0
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gptcache
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib_resources
iniconfig
instructor
itsdangerous
Jinja2
jsonpatch
jsonpointer
kubernetes
lancedb
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
load-dotenv
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mutagen
mypy-extensions
nodeenv
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pluggy
posthog
proto-plus
protobuf
pulsar-client
py
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pydantic
pydantic_core
PyGithub
Pygments
PyJWT
pylance
PyNaCl
pypdf
PyPika
pyproject_hooks
pyright
pysbd
PySocks
pytest
python-dateutil
python-dotenv
pytube
PyYAML
ratelimiter
regex
requests
requests-oauthlib
retry
rich
rsa
schema
selenium
semver
shapely
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
starlette
sympy
tenacity
tiktoken
tokenizers
tqdm
trio
trio-websocket
typer
typing-inspect
typing_extensions
urllib3
uvicorn
uvloop; sys_platform != 'win32'
watchfiles
websocket-client
websockets
Werkzeug
wrapt
wsproto
yarl
youtube-transcript-api
yt-dlp
zipp
